---
BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
ColumnLimit: 0
IncludeIsMainRegex: '(_Tests)?$'
IndentCaseLabels: true
IndentWidth: 4
IndentWrappedFunctionNames: true
MaxEmptyLinesToKeep: 2
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
SpacesInContainerLiterals: false
...

